@import 'tailwindcss';

:root {
    --color-and: red;
    --color-or: mediumpurple;
    --color-not: black;
    --color-nand: deepskyblue;
    --color-nor: lawngreen;
    --color-xor: orange;
    --color-xnor: violet;
}

.node {
    color: whitesmoke;

    padding: 16px;
    background: white;

    border-radius: 4px;
    border: 1px solid #555;
}

.node.dragging {
    border-width: 2px;
    background-color: ghostwhite;
}
