@import 'tailwindcss';

.node {
    padding: 16px;
    background: white;

    border-radius: 4px;
    border: 1px solid #555;
}

.node.dragging {
    border-width: 2px;
    background-color: ghostwhite;
}
