@import 'tailwindcss';

:root {
    --color-and: red;
    --color-or: mediumpurple;
    --color-not: black;
    --color-nand: deepskyblue;
    --color-nor: lawngreen;
    --color-xor: orange;
    --color-xnor: violet;
    --color-prefab: cyan;
    --color-bulb: darkorange;
    --color-power: orangered;
    --color-clock: darkred;

    --pixel-height: 20px;
}

.node {
    color: whitesmoke;

    width: calc(var(--pixel-height) * 3);
    height: calc(var(--pixel-height) * 2.8);

    display: flex;
    align-items: center;
    justify-content: center;

    border-radius: 4px;
    border: 1px solid #555;
}

.node.selected {
    border-radius: 6px;
    border-width: 2px;
}

.node.dragging {
    opacity: .8;
}

.insert-button {
    color: whitesmoke;

    min-width: 84px;
    min-height: 64px;
    width: calc(var(--pixel-height) * 6);
    height: calc(var(--pixel-height) * 4);

    font-size: x-large;

    display: flex;
    align-items: center;
    justify-content: center;

    border-radius: 4px;
    border: 1px solid #555;
}