@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
        --handle-radius: 8px;

        --core-gate-width: 64px;
        --core-gate-height: 56px;

        --segment-width: 48px;
        --segment-height: 12px;

        --display-width: 128px;
        --display-height: 164px;

        --insert-button-width: 84px;
        --insert-button-height: 64px;

        --prefab-handle-gap: 20px;
    }
}

.color-not {
    @apply bg-gray-900;
}

.color-nand {
    @apply bg-sky-400;
}

.color-and {
    @apply bg-red-600;
}

.color-nor {
    @apply bg-lime-500;
}

.color-or {
    @apply bg-purple-500;
}

.color-xor {
    @apply bg-orange-500;
}

.color-xnor {
    @apply bg-violet-500;
}

.color-prefab {
    @apply bg-cyan-400;
}

.color-bulb {
    @apply bg-orange-600;
}

.color-power {
    @apply bg-red-500;
}

.color-clock {
    @apply bg-red-800;
}

.color-display {
    @apply bg-gray-800;
}

.core-gate, .icon-core-gate {
    width: var(--core-gate-width);
    height: var(--core-gate-height);
}

.seven-segment-display {
    width: var(--display-width);
    height: var(--display-height);
}

.instantiate-gate-button {
    min-width: var(--insert-button-width);
    min-height: var(--insert-button-height);
}

@layer components {
    .core-gate, .icon-core-gate, .prefab-gate, .seven-segment-display {
        @apply flex items-center justify-center border rounded-md border-solid border-slate-600 text-white;
    }

    .core-gate.selected, .icon-core-gate.selected, .prefab-gate.selected, .seven-segment-display.selected {
        @apply border-2 rounded-md;
    }

    .core-gate.dragging, .icon-core-gate.dragging, .prefab-gate.dragging, .seven-segment-display.dragging {
        @apply opacity-80;
    }

    .icon-core-gate {
        @apply text-2xl;
    }

    .prefab-gate {
        @apply p-3;
    }

    .instantiate-gate-button {
        @apply flex flex-col items-center justify-center text-xl border rounded-sm border-solid border-slate-600 text-white;
    }

    .instantiate-gate-button:hover {
        @apply cursor-pointer opacity-80;
    }

    .instantiate-gate-button:disabled {
        @apply cursor-not-allowed text-gray-400;
    }

    .vertical {
        width: var(--segment-height);
        height: var(--segment-width);
    }

    .horizontal {
        width: var(--segment-width);
        height: var(--segment-height);
    }

    .vertical, .horizontal {
        @apply rounded-sm bg-neutral-50
    }

    .vertical.enabled, .horizontal.enabled {
        @apply bg-rose-600
    }

    .handle-popup-parent, .utility-popup-parent {
        @apply relative inline-block
    }

    .handle-popup {
        @apply absolute hidden group-hover:block min-w-10 max-w-40 bg-gray-950 text-center font-extralight text-white text-xs p-1 rounded z-20
    }

    .panel-background {
        @apply border-2 border-gray-300 rounded-xl p-3 backdrop-blur-sm;
    }

    .input-clean {
        @apply bg-transparent border-0 inline-block font-extralight;
    }

    .input-clean {
        @apply bg-transparent border-none outline-none ring-0 shadow-none text-gray-400;

        border: 0 !important;
    }

    .input-clean:focus {
        outline: none !important;
        box-shadow: none !important;
    }

    .input-clean:disabled {
        @apply bg-gray-900;
    }

    .inspector-element, .input-clean, .inspector-utility-button {
        @apply text-gray-400 font-extralight;
    }

    .inspector-element:hover, .input-clean:hover, .inspector-utility-button:hover {
        @apply text-gray-500;
    }

    .inspector-element:active, .input-clean:focus, .inspector-utility-button:active {
        @apply text-gray-300;
    }

    .inspector-utility-button:disabled {
        @apply text-gray-700;
    }

    .utility-button {
        @apply min-w-14 min-h-14 rounded-full text-gray-800 text-2xl bg-slate-200 border-4 border-gray-900 transition-transform duration-200;
    }

    .utility-button:hover {
        @apply bg-slate-100 scale-110;
    }

    .utility-button:active {
        @apply bg-slate-400;
    }

    .utility-popup {
        @apply absolute hidden group-hover:block min-w-10 max-w-40 bg-transparent text-center font-extralight text-gray-400 text-xs p-1 z-20
    }

    .asset-button {
        @apply text-lg text-gray-400 font-extralight p-1 px-4 pb-0.5 bg-gray-700 border-b-2 border-b-gray-300 rounded-t-xl backdrop-blur-sm z-40
    }

    .asset-button:hover {
        @apply bg-slate-600;
    }

    .asset-button.selected {
        @apply text-xl text-white font-bold bg-slate-500;
    }

    .modal-button {
        @apply font-extralight text-white text-xl py-2 px-4 bg-slate-400 rounded-lg m-2;
    }

    .modal-button:hover {
        @apply text-gray-400;
    }

    .modal-button:active {
        @apply text-gray-600;
    }
}
